body {
    display: flex;
    width: 1200px;
    height: 100vh;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/* ROW 1 */
.grab-dots span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 4px;
    border-radius: 50%;
    background-color: black;
    animation: hehe 4s linear infinite;
}

.grab-dots span:nth-child(2) {
    animation-delay: -0.3s;
}

.grab-dots span:nth-child(3) {
    animation-delay: -0.6s;
}

.grab-dots span:nth-child(4) {
    animation-delay: -0.9s;
}

.grab-dots span:nth-child(5) {
    animation-delay: -1.2s;
}

.grab-dots span:nth-child(6) {
    animation-delay: -1.5s;
}

.grab-dots span:nth-child(7) {
    animation-delay: -1.8s;
}

@keyframes hehe {

    0%,
    100% {
        transform: translateY(-40px);
        opacity: 1;
        scale: 1;
    }

    25% {
        
        transform: translateY(0px);
        opacity: 1;
        scale: 1.5;
    }

    50% {
        
        transform: translateY(40px);
        opacity: 1;
        scale: 1.5;
    }

    75% {
        transform: translateY(0px);
        opacity: 0.5;
        scale: 0.7;
    }
    
}

/* ROW 2 */
.grab-dots-2 span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 4px;
    border-radius: 50%;
    background-color: black;
    animation: OKLA 4s linear infinite;
}

.grab-dots-2 span:nth-child(2) {
    animation-delay: -0.3s;
}

.grab-dots-2 span:nth-child(3) {
    animation-delay: -0.6s;
}

.grab-dots-2 span:nth-child(4) {
    animation-delay: -0.9s;
}

.grab-dots-2 span:nth-child(5) {
    animation-delay: -1.2s;
}

.grab-dots-2 span:nth-child(6) {
    animation-delay: -1.5s;
}

.grab-dots-2 span:nth-child(7) {
    animation-delay: -1.8s;
}

@keyframes OKLA {
    0%,
    100% {
        scale: 1;
        transform: translateY(10px);
        opacity: 1
    }

    25% {
        scale: 0.7;
        transform: translateY(-30px);
        opacity: 0.5
    }

    50% {
        scale: 1;
        transform: translateY(-70px);
        opacity: 1;
    }

    75% {
        scale: 1.5;
        transform: translateY(-30px);
        opacity: 1;
    }
}