body {
    width: 2500px;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 30px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: transparent;
    background: linear-gradient(90deg, rgba(153, 228, 255, 1) 0%, rgba(87, 102, 199, 1) 50%, rgba(216, 136, 227, 1) 100%);
    background-clip: content-box;
    -webkit-background-clip: text;
    font-size: 40px;
}

img {
    display: inline-block;
    max-width: 500px;
    max-height: 500px;
    border: 1px solid rgb(183, 183, 183);
    transition: 0.2s ease-in-out;
}

li {
    list-style: none;
    display: inline-block;
    width: 500px;
    min-height: 500px;
    margin: 0 40px;
}

.group-product {
    display: flex;
    justify-content: center;
}

img:hover {
    border: 5px solid rgb(255, 0, 0);
}

.image-2 {
    filter: hue-rotate(243deg);
    
}

.image-3 {
    filter: hue-rotate(94deg);
}

.group-product li {
    transition: 0.5s ease-in-out;
}

.group-product li:first-child:hover {
    color: red;
}

.group-product li:nth-child(2):hover {
    color: #031c76;
}
.group-product li:nth-child(3):hover {
    color: #012f00;
}